extends layout

block content
  .you
  if (you)
    ul(data-role="listview", data-inset="true")
      li.user
        span.rank= "#" + you.rank
        span.name= you.name
        span.points= you.points
  .leaderboard
    ul(data-role="listview", data-filter="true", data-filter-placeholder="Search Attendees...")
      for user in users
        if (user.name === "You")
          li.user
            a(href="/myPhotos")
              span.rank= "#" + user.rank
              span.name.user-you= user.name
              span.points= user.points
        else
          li.user
            a(href="/viewPhotos/#{user._id}")
              span.rank= "#" + user.rank
              span.name= user.name
              span.points= user.points
